/* Style Sheet */
.fixed-header,
.fixed-footer {
    text-decoration: solid;
    width: 100%;
    position: fixed;
    background: linear-gradient(12deg, #225127 0%, #e0a026 50%, #fcc700 100%);
    padding: 10px;
}