/* Style Sheet */
@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

/* Defaults */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Muli', sans-serif;
}

/* HTML Styling */
html {
    width: 100%;
    height: 100%;
    font-family: 'Multi', sans-serif;
    background: linear-gradient(70deg, #225127 0%, #e0a026 50%, #fcc700 100%);
}

/* Body Padding */
body {
    padding-top: 60px;
    padding-bottom: 40px;
}

/* Styling Main */

main {
    margin: 0 auto;
    width: 80%;
    border: solid 1px;
}

/* Fixed Header and Footer CSS Styling */
.fixed-header,
.fixed-footer {
    text-decoration: solid;
    width: 100%;
    position: fixed;
    background: linear-gradient(12deg, #225127 0%, #e0a026 50%, #fcc700 100%);
    padding: 10px;
}

/* Fixed header to Top */
.fixed-header {
    top: 0;
}

/* Fixed footer to Bottom */
.fixed-footer {
    bottom: 0;
}

/* Styling h/f container */
.container {
    width: 100%;
    align-items: center;
    margin: 0 auto;
}

/* Styling a behavior and color */
a:link {
    color: #225127;
}

a:visited {
    color: #fcc700;
}

a:hover {
    color: #fcc700;
}

a:active {
    color: #225127;
}

/* Styling nav text */
nav {
    color: #fff;
    text-decoration: none;
    padding: 7px 25px;
    display: inline-block;
}

/* Styling nav a text */
nav a {
    color: #fff;
    text-decoration: none;
    padding: 7px 25px;
    display: inline-block;
}

/* Styling and position main page and game board */
.game,
main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
}

/* Styling controls and force to bottom to hug game board */
.controls {
    display: flex;
    gap: 20px;
    margin-bottom: 0px;
}

/* Styling game stats and font size */
.stats {
    color: #fff;
    font-size: 14pt;
}