/* Style Sheet */
@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

/* Defaults */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Muli', sans-serif;
}

/* HTML Styling */
html {
    width: 100%;
    height: 100%;
    font-family: 'Multi', sans-serif;
    background: linear-gradient(70deg, #225127 0%, #e0a026 50%, #fcc700 100%);
}

/* Body Padding */
body {
    padding-top: 60px;
    padding-bottom: 40px;
}

/* Fixed Header and Footer CSS Styling */
.fixed-header,
.fixed-footer {
    text-decoration: solid;
    width: 100%;
    position: fixed;
    background: linear-gradient(12deg, #225127 0%, #e0a026 50%, #fcc700 100%);
    padding: 10px;
}